.topNAV {
    width: 70%;
    height: 20%;
    background-color: white;
    position:relative;
    top: 10%;
    left: 15%;
    border: 2px solid black;
}

.logo {
    height: 100%;
    background-color: black;
    margin-right: 3%;
}

.logoImage{
    width: 100vw;
    height: 10vh;
}

.siteName{
    color: black;
    text-align: center;
    padding-top: 4%;
}

.links li {
    background-color: grey;
    border: 1px solid black;
    width: 21%;
    left: 9%;
    position: relative;
    padding: 1%;
    margin-right: 4%;
}

.links li a {
    text-align: center;
}


.nav-link{
    padding-right: 2.5rem !important;
}

.headerImage {
    background-image: url("../images/stjohns_1109.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    height: 55vh;
    width: 100vw;
}

.aboutImage {
    background-image: url("../images/ambobag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    height: 55vh;
    width: 100vw;
}

.aboutImage{
    height: 55vh;
    width: 100vw;
}

.contactImage{
    height: 55vh;
    width: 100vw;
}

.aboutSection {
    height: 20vh;
    width: 80vw;
    margin-top: 3%;
}

.servicesSection {
    background-image: url("../images/stjohns_1109.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    height: 70vh;
    width: 100vw;
}

.newsSection {
    height: 20vh;
    width: 100vw;
}

.navColour {
    background-color: #464646;
}

.navigation{
    height: 10%;
    width: 50%;
    background-color: red;
    z-index: 2;
}

.footerNav{
    list-style: none;
    list-style-position: inside;
}

.footerNav:after{
    clear: both;
    display: block;
    content: '';
}

.footerNav li{
    float: left;
    margin-right: 20px;
}

.footerNav li a{
    color: white;
}

.copyright {
    color: white;
}

h2,p {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 20px;
}


@media only screen and (max-width: 860px) {
    .logo{
        left: 0;
    }
}

@media only screen and (max-width: 835px) {
    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 800px) {
    p {
        font-size: 14px;
    }
    .headerImage {
        height: 47vh;
    }

    .topNAV{
        top: 0;
        height: 21%;
        width: 100vw;
        left: 0;
        border: 0;
    }

    .logo {
        right: 11%;
        width: 23%;
        height: 74px;
        margin-right: 0 !important;
    }

    .searchSection {
        bottom: 77%;
        left: 45%;
        position: relative;
    }

    .button {
        left: 78%;
        position: relative;
    }

    .footerBar{
        margin-top: 22%;
    }

    .footerContainer{
        margin-left: 0;
        margin-right: 0;
    }

    .copyright{
        left: 18%;
    }
}

@media only screen and (max-width: 760px) {
    .logo{
        left: 0;
    }
}

@media only screen and (max-width: 575px) {
    .logo{
        left: 0;
    }
}

@media only screen and (max-width: 450px) {
    .copyright {
        flex: none;
    }

    .footerBar{
        margin-top: 27%;
    }

    .logo{
        left: 0;
    }

    .button {
        left: 27%;
    }

    p{
        font-size: 12px;
    }
}
