/* .headerImage {
  background-image: url("../images/stjohns_1109.jpg");
  opacity: 0.75;
  height: 50vh;
  background-position: center; /* Center the image
  background-repeat: no-repeat;
  background-size: cover;
/* } */
